.App {
    text-align: center;
}

.img-me{
    background-color: #ddd;
    border-radius: 20%;
    height: 200px;
    object-fit: cover;
    width: 200px;
    align-items: unset;
    margin: 20px;
    transition-duration: 2s;
    position: relative;
}

.img-me:hover{
    height: 100px;
    width: 100px;
    border-radius: 20%;
    background-color: #2e1f36;
    opacity: 0.5;
    transition-duration: 2s;
}


.App-header {
    background-color: #2e1f36;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

/*
.App-header {
    background-color: #2e1f36;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
*/

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.App-Logo {
    animation: App-logo-spin infinite 20s linear;
    height: 60px;
    width: 60px;
    position: relative;
}

#footer{
    background-color: #2e1f36;
    height: 0%;
    padding: 20px;
}


.titulo {
    text-align: center;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: calc(15px + 2vmin);
    position: static;
    text-align: center;
}

.cor-titulo{
    color: #654d8d;
    text-align: center;
    font-family: 'Handlee', cursive;
    font-size: calc(15px + 2vmin);
    position: static;
    text-align: center;
}

.texto {
    text-align: center;
    color: white;
    font-size: calc(10px + 2vmin);
    position: relative;
    text-align: center;
    position: relative;
    font-family: 'Comfortaa', cursive;
    line-height: 1;
}


/*
img margin: -100px -1000px 10px 0;
foto margin: 0px -800px 0px 0;
*/

.icons{
    size: 10px;
}