.App {
    text-align: center;
}

#img-me{
    background-color: #ddd;
    border-radius: 20%;
    height: 200px;
    object-fit: cover;
    width: 200px;
}

.App-header {
    background-color: #2e1f36;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.App-Logo {
    animation: App-logo-spin infinite 20s linear;
    height: 60px;
    width: 60px;
    position: relative;
}

#footer{
    background-color: #2e1f36;
    height: 0%;
    padding: 20px;
}

#texto{
    text-align: center;
    color: white;
    font-size: calc(5px + 2vmin);
    position: relative;
}

/*
img margin: -100px -1000px 10px 0;
foto margin: 0px -800px 0px 0;
*/

.DBotao {
    float: left;
    width: 100%;
    text-align: center;
}

.Botao {
    display: inline-block;
    border: 0;
    padding: 10px 20px;
    background: rgb(134, 114, 49);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
}

.Botao:hover {
    opacity: 0.6;
}